<li class="article-item">
  <a href="{{ post.url }}" class="article-link">
    <div class="article-thumb">
      <img src="{{ post.data.image }}" alt="{{ post.data.title }}">
    </div>
    <div class="article-content">
      <h3 class="article-title">{{ post.data.title }}</h3>
      <p class="article-date">{{ post.date | date("MMMM dd, yyyy") }}</p>
    </div>
  </a>
</li>
