---
layout: 'base.njk'
---
<article class="main-article">
<div class="container container--narrow flow">
  
    <h1 class="article-title">
      {{ title }}
    </h1>
    <figure class="main-article__figure">
      <img src="{{ image }}" alt="{{ imageAlt }}">
      <figcaption>
        {{ imageAlt }}
      </figcaption>
    </figure>
    <p><i class="fa-solid fa-user"></i> Written By: {{ author }}</p>
    <p><i class="fas fa-calendar-alt"></i> Published On: {{ date | postDate }}</p>
    <hr style="border: none; height: 2px; background-color: #E2E8F0;">
  {{ content | safe }}
  
</div>
</article>
<center>-------- End --------</center>
<br>
