---
layout: 'base.njk'
---
<article class="main-article">
<div class="container container--narrow flow">
  
    <h1 class="article-title">
      {{ title }}
    </h1>
    <figure class="main-article__figure">
      <img src="{{ image }}" alt="{{ imageAlt }}">
      <figcaption>
        {{ imageAlt }}
      </figcaption>
    </figure>
    <div class="post-meta">
      <p><i class="fa-solid fa-user"></i> Written By: {{ author }}</p>
      <p><i class="fas fa-calendar-alt"></i> Published On: {{ date | postDate }}</p>
    </div>  
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | url }}" target="_blank" class="social-btn facebook">
      <i class="fa-brands fa-facebook-f"></i> Share
    </a>
    <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url | url }}&text={{ title | urlencode }}" target="_blank" class="social-btn twitter">
      <i class="fa-brands fa-twitter"></i> Tweet
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url | url }}" target="_blank" class="social-btn linkedin">
      <i class="fa-brands fa-linkedin-in"></i> Share
    </a>
    <a href="https://api.whatsapp.com/send?text={{ title | urlencode }}%20{{ site.url }}{{ page.url | url }}" target="_blank" class="social-btn whatsapp">
      <i class="fa-brands fa-whatsapp"></i> WhatsApp
    </a>
      
  {{ content | safe }}
  
</div>
</article>
<center>-------- End --------</center>
<!-- Share Buttons -->
<div class="social-share">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | url }}" target="_blank" class="social-btn facebook">
    <i class="fa-brands fa-facebook-f"></i> Share
  </a>
  <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url | url }}&text={{ title | urlencode }}" target="_blank" class="social-btn twitter">
    <i class="fa-brands fa-twitter"></i> Tweet
  </a>
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url | url }}" target="_blank" class="social-btn linkedin">
    <i class="fa-brands fa-linkedin-in"></i> Share
  </a>
  <a href="https://api.whatsapp.com/send?text={{ title | urlencode }}%20{{ site.url }}{{ page.url | url }}" target="_blank" class="social-btn whatsapp">
    <i class="fa-brands fa-whatsapp"></i> WhatsApp
  </a>

  
</div>
<section class="recent-posts">
  <h3 class="recent-posts__title">Recent Posts</h3>
  <ul class="recent-posts__list">
    {% set recentPosts = collections.post | reverse %} {# Get all posts reversed #}
    {% set count = 0 %}
    {% for recentPost in recentPosts %}
      {% if recentPost.url != page.url and count < 5 %} {# Exclude current post & limit to 5 #}
        <li class="recent-post">
          <a href="{{ recentPost.url }}" class="recent-post__link">
            {% if recentPost.data.image %}
              <img src="{{ recentPost.data.image }}" alt="{{ recentPost.data.imageAlt }}" class="recent-post__image">
            {% endif %}
            <div class="recent-post__content">
              <h4 class="recent-post__title">{{ recentPost.data.title }}</h4>
              <p class="recent-post__date">{{ recentPost.date | postDate }}</p>
            </div>
          </a>
        </li>
        {% set count = count + 1 %}
      {% endif %}
    {% endfor %}
  </ul>
  <div class="read-all-posts">
    <a href="/blog" class="read-all-posts__button">Read All Posts</a>
  </div>  
</section>


<br>