<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> {{ title }} </title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   <!-- Favicon -->
   <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
   <link rel="manifest" href="/assets/images/favicon/site.webmanifest">
<!-- Open Graph Meta Tags -->
<meta property="og:title" content="{{ title | default('Hi, I\'m Maroof Lone') }}">
<meta property="og:description" content="{{ description | default('Blogger | OSINT Enthusiast | Media Analyst | Cybersecurity Explorer | Kashmiri at Heart | Exploring stories, trends, and insights that matter.') }}">
<meta property="og:image" content="{{ image | default(site.url + '/assets/images/main-assets/og-discription-image.png') }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:url" content="{{ site.url + page.url }}">

{% if '/blog/' in page.url %}
  <meta property="og:type" content="article">
{% else %}
  <meta property="og:type" content="website">
{% endif %}

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ title | default('Hi, I\'m Maroof Lone') }}">
<meta name="twitter:description" content="{{ description | default('Blogger | OSINT Enthusiast | Media Analyst | Cybersecurity Explorer | Kashmiri at Heart | Exploring stories, trends, and insights that matter.') }}">
<meta name="twitter:image" content="{{ image | default(site.url + '/assets/images/main-assets/og-discription-image.png') }}">

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>


</head>
<body>
  {% include 'header.njk' %}
  <main>
    {{ content | safe }}
  </main>
    {% include 'footer.njk' %}


    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    
</body>
</html>
