<footer>
  <section class="contact">
    <h2>Quick Links</h2>
    <div class="footer-links">
      <a href="/"><i class="fas fa-home"></i> Home</a>
      <a href="/about-me"><i class="fas fa-user"></i> About Me</a>
      <a href="/contact-me"><i class="fas fa-envelope-open"></i> Contact Me</a>
    </div>

    <p>© 2025 <a href="/">Maroof Lone</a>. All rights reserved.</p>
  </section>
</footer>

