<footer>
  <section class="contact">
    <h2>Get in Touch</h2>
    <div class="social-icons">
        <a href="mailto:hello@marooflone.com"><i class="fas fa-envelope"></i></a>
        <a href="https://www.x.com/marooflone13"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/marooflone13"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/maroofmedia"><i class="fab fa-github"></i></a>
    </div>
   
  <p>© 2025 <a href="/">Maroof Lone</a>. All rights reserved.</p> 
</footer>
