<header id="mainHeader">
  <div class="logo">
    <a href="/" class="logo-link">
      <img src="/assets/images/favicon/apple-touch-icon.png" alt="Logo" class="logo-img">
      <span class="logo-text">Maroof Lone</span>
    </a>
  </div>
</header>
