---
title: All Articles by Maroof Lone
layout: 'base.njk'
---

       
<div class="section container">
  <center><h1 class="blog-section-title">Recent Articles</h1></center>
  
  <ul role="list" class="articles__list flow">

       {%- for post in collections.post | reverse -%}
       {% include 'article-snippet.njk' %}
       {%- endfor -%}

  </ul>

  </div>